#navbar {
    height: 100px;
}


.red {
    color: red;
    transition: all ease-in 0.5s;
}

.primary {
    color: green;
    transition: all ease-in 0.5s;
    font-size: 50px;
    transform: rotate(45deg);
}